apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: chatty-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      name: frontend-pod
      namespace: chatty-app
      labels:
          app: frontend
    spec:
      containers:
      - name: frontend-container
        image: pias97/chatty-frontend:v1
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 5001
        env:
        - name: NODE_ENV
          value: "production"
