apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: chatty-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      name: backend-pod
      namespace: chatty-app
      labels:
          app: backend
    spec:
      containers:
      - name: backend-container
        image: pias97/chatty-backend:v1
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 5001
