apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: chatty-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      name: backend-pod
      namespace: chatty-app
      labels:
          app: backend
    spec:
      containers:
      - name: backend-container
        image: pias97/chatty-backend:v1
        ports:
        - containerPort: 5001
        env:
        - name: NODE_ENV
          value: production
        - name: MONGODB_URI
          value: "mongodb://superadmin:secretpassword@mongodb:27017/dbname?authSource=admin"

        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: mongo-secret
              key: jwt
        - name: PORT
          value: "5001"      
